@font-face {
  font-family: "codicon";
  font-display: block;
  src: url("/codicon/codicon.woff2") format("woff2");
}

.codicon {
  font: normal normal normal 16px/1 codicon;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.codicon-add:before { content: "\ea60" }
.codicon-archive:before { content: "\ea98" }
.codicon-arrow-up:before { content: "\eaa1" }
.codicon-bookmark:before { content: "\eaa5" }
.codicon-check:before { content: "\eab2" }
.codicon-chevron-down:before { content: "\eab4" }
.codicon-chevron-left:before { content: "\eab5" }
.codicon-chevron-right:before { content: "\eab6" }
.codicon-chrome-close:before { content: "\eab8" }
.codicon-chrome-maximize:before { content: "\eab9" }
.codicon-chrome-minimize:before { content: "\eaba" }
.codicon-chrome-restore:before { content: "\eabb" }
.codicon-clippy:before { content: "\eac0" }
.codicon-close:before { content: "\ea76" }
.codicon-cloud:before { content: "\ebaa" }
.codicon-cloud-download:before { content: "\eac2" }
.codicon-cloud-upload:before { content: "\eac3" }
.codicon-comment:before { content: "\ea6b" }
.codicon-copy:before { content: "\ebcc" }
.codicon-diff:before { content: "\eae1" }
.codicon-discard:before { content: "\eae2" }
.codicon-edit:before { content: "\ea73" }
.codicon-ellipsis:before { content: "\ea7c" }
.codicon-error:before { content: "\ea87" }
.codicon-exclude:before { content: "\eae5" }
.codicon-eye:before { content: "\ea70" }
.codicon-file:before { content: "\ea7b" }
.codicon-file-binary:before { content: "\eae8" }
.codicon-files:before { content: "\eaf0" }
.codicon-folder:before { content: "\ea83" }
.codicon-folder-opened:before { content: "\eaf7" }
.codicon-git-branch:before { content: "\ec6f" }
.codicon-git-commit:before { content: "\eafc" }
.codicon-git-merge:before { content: "\eafe" }
.codicon-git-pull-request:before { content: "\ea64" }
.codicon-go-to-file:before { content: "\ea94" }
.codicon-history:before { content: "\ea82" }
.codicon-link-external:before { content: "\eb14" }
.codicon-list-flat:before { content: "\eb84" }
.codicon-list-tree:before { content: "\eb86" }
.codicon-loading:before { content: "\eb19" }
.codicon-mail:before { content: "\eb1c" }
.codicon-menu:before { content: "\eb94" }
.codicon-new-file:before { content: "\ea7f" }
.codicon-new-folder:before { content: "\ea80" }
.codicon-person:before { content: "\ea67" }
.codicon-plus:before { content: "\ea60" }
.codicon-refresh:before { content: "\eb37" }
.codicon-remove:before { content: "\eb3b" }
.codicon-repo:before { content: "\ea62" }
.codicon-search:before { content: "\ea6d" }
.codicon-source-control:before { content: "\ea68" }
.codicon-split-horizontal:before { content: "\eb56" }
.codicon-split-vertical:before { content: "\eb57" }
.codicon-sync:before { content: "\ea77" }
.codicon-tag:before { content: "\ea66" }
.codicon-terminal:before { content: "\ea85" }
.codicon-trash:before { content: "\ea81" }
.codicon-warning:before { content: "\ea6c" }
.codicon-zoom-in:before { content: "\eb81" }
